In [228]:
from typing import List
from typing import Optional
from sqlalchemy import create_engine
from sqlalchemy import URL
from sqlalchemy import text
from sqlalchemy import ForeignKey
from sqlalchemy import String, Integer
from sqlalchemy import Select, Insert, Update
from sqlalchemy.orm import Session
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship
from sqlalchemy import Column, Integer, String
import pandas as pd
import numpy as np
import csv

In [229]:
User = 'username'
Pass = 'password'
DB_NAME = 'test_transfer'

url1_object = URL.create(
    "mysql+mysqlconnector",
    username = User,
    password = Pass,
    host="localhost",
)

In [230]:
engine = create_engine(url1_object)
with engine.connect() as conn:
    conn.execute(text(f"DROP DATABASE IF EXISTS {DB_NAME}"))
    conn.execute(text(f"CREATE DATABASE {DB_NAME}"))

In [231]:
url2_object = URL.create(
    "mysql+mysqlconnector",
    username = User,
    password = Pass,
    host="localhost",
    database= DB_NAME
)
engine = create_engine(url2_object, echo=True)

In [232]:
class Base(DeclarativeBase):
    pass

In [233]:
class players(Base):
    __tablename__="players"
    
    id : Mapped[str] = mapped_column(String(length=255),primary_key=True)
    name : Mapped[str] = mapped_column(String(255),nullable = True)
    birth_date : Mapped[str] = mapped_column(String(255),nullable = True)
    age : Mapped[int] = mapped_column(nullable = True)
    height : Mapped[float]=mapped_column(nullable = True)
    current_club_id : Mapped[int] = mapped_column(ForeignKey("clubs.id"),nullable = True)
    club_joined : Mapped[str] = mapped_column(String(255),nullable = True)
    contract_expires : Mapped[str] = mapped_column(String(255),nullable = True)
    birth_place : Mapped[str] = mapped_column(String(255),nullable = True)
    citizenship : Mapped[str] = mapped_column(String(255),nullable = True)
    position : Mapped[str] = mapped_column(String(255),nullable = True)
    national_id : Mapped[int] = mapped_column(ForeignKey("national.id"),nullable = True)
    current_value : Mapped[float] = mapped_column(nullable = True)
    agent :  Mapped[str] =  mapped_column(String(255),nullable = True)
    foot : Mapped[str] = mapped_column(String(255),nullable = True)
        
    def __repr__(self) -> str:
        return f"players(id= {self.id}, name= {self.name}, birth_date= {self.birth_date}, age= {self.age}, height= {self.height}, current_club_id= {self.current_club_id}, club_joined= {self.club_joined}, contract_expires= {self.contract_expires},citizenship= {self.citizenship},birth_place= {self.birth_place},position= {self.position},national_id= {self.national_id},current_value= {self.current_value},agent= {self.agent},foot= {self.foot})"

class players_season(Base):
    __tablename__="players_season"
    
    id : Mapped[int] = mapped_column(primary_key=True)
    ###################
    player_id : Mapped[str] = mapped_column(ForeignKey("players.id"))
    season_id : Mapped[int] = mapped_column(ForeignKey("seasons.id"))
    club_id : Mapped[str] = mapped_column(ForeignKey("clubs.id"))
    ###################
    squad : Mapped[int]=mapped_column(nullable = True)
    appearance : Mapped[int] = mapped_column(nullable = True)
    point_per_goal : Mapped[int] = mapped_column(nullable = True )
    goals : Mapped[int] = mapped_column(nullable = True)
    assits : Mapped[int] = mapped_column(nullable = True)
    own_goals : Mapped[int] = mapped_column(nullable = True)
    yellow_card : Mapped[int] = mapped_column(nullable = True)
    second_yellow_card : Mapped[int] = mapped_column(nullable = True)
    red_card : Mapped[int] = mapped_column(nullable = True)
    penalty_goals : Mapped[int] = mapped_column(nullable = True)
    goals_conceded : Mapped[int] = mapped_column(nullable = True)
    clean_sheets :  Mapped[int] = mapped_column(nullable = True)
    minutes_per_goal : Mapped[int] = mapped_column(nullable = True)
    minutes_played :  Mapped[int] = mapped_column(nullable = True)
        
    def __repr__(self) -> str:
        return f"players_season(id= {self.id}, player_id= {self.player_id}, season_id= {self.season_id}, club_id= {self.club_id}, squad= {self.squad}, appearance= {self.appearance}, point_per_goal= {self.point_per_goal}, goals= {self.goals},assits= {self.assits},own_goals= {self.own_goals},yellow_card= {self.yellow_card},second_yellow_card= {self.second_yellow_card},red_card= {self.red_card},penalty_goals= {self.penalty_goals},goals_conceded= {self.goals_conceded},clean_sheets={self.clean_sheets},minutes_per_goal={self.minutes_per_goal},minutes_played={self.minutes_played})"

        
class clubs(Base):
    __tablename__ = "clubs"
    
    id : Mapped[str] = mapped_column(String(length=255),primary_key = True)
    name :  Mapped[str] = mapped_column(String(255),nullable = True)
    country_id : Mapped[int] = mapped_column(nullable = True)
    foundation_date : Mapped[str] = mapped_column(String(255),nullable = True)
    value : Mapped[float] = mapped_column(nullable = True)
    stadium : Mapped[str] = mapped_column(String(255),nullable = True)
    squad_size : Mapped[int] = mapped_column(nullable = True)
    average_age : Mapped[float] = mapped_column(nullable = True)
    current_transfer_record : Mapped[int] = mapped_column(nullable = True)
    #############
    national_players : Mapped[int] =  mapped_column(nullable = True)
    foreigners :  Mapped[int] =  mapped_column(nullable = True)

    def __repr__(self) -> str:
        return f"clubs(id= {self.id}, name= {self.name}, country_id= {self.country_id}, foundation_date= {self.foundation_date}, value= {self.value}, stadium= {self.stadium}, squad_size= {self.squad_size}, average_age= {self.average_age},current_transfer_record= {self.current_transfer_record},national_players= {self.national_players},foreigners= {self.foreigners})"

class  clubs_season(Base):
    __tablename__ = "clubs_season"
    
    id : Mapped[int] = mapped_column(primary_key = True)
    #################
    club_id : Mapped[str] = mapped_column(String(length=255),ForeignKey("clubs.id"))
    season_id : Mapped[int] = mapped_column(ForeignKey("seasons.id"))
    competition_id : Mapped[int] = mapped_column(ForeignKey("competitions.id"))
    #################
    rank : Mapped[int] = mapped_column(nullable = True)
    matches : Mapped[int] = mapped_column(nullable = True)
    win : Mapped[int] = mapped_column(nullable = True)
    draw : Mapped[int] = mapped_column(nullable = True)
    loss : Mapped[int] = mapped_column(nullable = True)
    goals_scored : Mapped[int] = mapped_column(nullable = True)
    goals_conceded : Mapped[int] = mapped_column(nullable = True)
    players_avg_age :  Mapped[float] = mapped_column(nullable = True)
    
    def __repr__(self) -> str:
        return f"clubs_season(id= {self.id}, club_id= {self.club_id}, season_id= {self.season_id}, competition_id= {self.competition_id}, rank= {self.rank}, matches= {self.matches}, win= {self.win}, draw= {self.draw},loss= {self.loss},goals_scored= {self.goals_scored},goals_conceded= {self.goals_conceded},players_avg_age={self.players_avg_age})"


class  transfers(Base):
    __tablename__ = "transfers"
    
    
    id : Mapped[int] = mapped_column(primary_key = True)
    ###############
    player_id : Mapped[str] = mapped_column(ForeignKey("players.id"))
    origin_club_id : Mapped[str] = mapped_column(ForeignKey("clubs.id"))
    destination_club_id :  Mapped[str] = mapped_column(ForeignKey("clubs.id"))
    season_id :  Mapped[int] = mapped_column(ForeignKey("seasons.id"))
    ###############
    market_value : Mapped[float] = mapped_column(nullable = True)
    fee :  Mapped[float] = mapped_column(nullable = True)
    
    def __repr__(self) -> str:
        return f"transfers(id= {self.id}, player_id= {self.player_id}, origin_club_id= {self.origin_club_id}, destination_club_id= {self.destination_club_id}, season_id= {self.season_id}, market_value= {self.market_value}, fee= {self.fee})"

class national(Base):
    __tablename__ = "national"
    
    id : Mapped[int] = mapped_column(primary_key = True)
    name :  Mapped[str] = mapped_column(String(255),nullable = True)

    def __repr__(self) -> str:
        return f"national(id= {self.id}, name= {self.name})"

class competitions(Base):
    __tablename__ = "competitions"
    
    id : Mapped[int] = mapped_column(primary_key = True)
    country_id : Mapped[int] = mapped_column(ForeignKey("national.id"))
    name : Mapped[str] = mapped_column(String(255),nullable = True)
    teams_number : Mapped[int] = mapped_column(nullable =True)
    market_value : Mapped[float] = mapped_column(nullable = True)
    avg_age : Mapped[float] = mapped_column(nullable = True)    
    players_number : Mapped[int] = mapped_column(nullable =True)
    foreigners : Mapped[int] = mapped_column(nullable =True)
    
    def __repr__(self) -> str:
        return f"competitions(id= {self.id}, country_id= {self.country_id}, name= {self.name}, teams_number= {self.teams_number}, market_value= {self.market_value}, avg_age= {self.avg_age}, players_number= {self.players_number},foreigners={self.foreigners})"

class seasons(Base):
    __tablename__  =  "seasons"
    
    id : Mapped[int] = mapped_column(primary_key = True)
    start_date: Mapped[str] = mapped_column(String(255),nullable = True)
    end_date: Mapped[str] = mapped_column(String(255),nullable = True)
    
    def __repr__(self) -> str:
        return f"seasons(id= {self.id}, start_date= {self.start_date}, end_date={self.end_date})"

In [234]:
Base.metadata.create_all(engine) 
with engine.connect() as conn:
    result = conn.execute(text("SHOW TABLES"))

2023-05-28 21:20:02,670 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-05-28 21:20:02,671 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-28 21:20:02,674 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-05-28 21:20:02,676 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-28 21:20:02,683 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-05-28 21:20:02,684 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-28 21:20:02,688 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 21:20:02,689 INFO sqlalchemy.engine.Engine DESCRIBE `test_transfer`.`players`
2023-05-28 21:20:02,690 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-28 21:20:02,693 INFO sqlalchemy.engine.Engine DESCRIBE `test_transfer`.`players_season`
2023-05-28 21:20:02,694 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-28 21:20:02,696 INFO sqlalchemy.engine.Engine DESCRIBE `test_transfer`.`clubs`
2023-05-28 21:20:02,696 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-28 21:20:02,699 INFO sqlalchemy.engine.Engine DESCRIBE `test_transfer`.`clubs_season`
2023-05-28 21:20:02,700 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-28 21:20:02,702 INFO sqlalchemy.engine.Engine DESCRIBE `test_transfer`.`transfers`
2023-05-28 21:20:02,703 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-28 21:20:02,705 INFO sqlalchemy.engine.Engine DESCRIBE `test_transfer`.`national`
2023-05-28 21:20:02,705 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-28 21:20:02,707 INFO sqlalchemy.engine.Engine DESCRIBE `test_transfer`.`competitions`
2023-05-28 21:20:02,708 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-28 21:20:02,709 INFO sqlalchemy.engine.Engine DESCRIBE `test_transfer`.`seasons`
2023-05-28 21:20:02,710 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-28 21:20:02,713 INFO sqlalchemy.engine.Engine
CREATE TABLE clubs (
	id VARCHAR(255) NOT NULL,
	name VARCHAR(255),
	country_id INTEGER,
	foundation_date VARCHAR(255),
	value FLOAT,
	stadium VARCHAR(255),
	squad_size INTEGER,
	average_age FLOAT,
	current_transfer_record INTEGER,
	national_players INTEGER,
	foreigners INTEGER,
	PRIMARY KEY (id)
)


2023-05-28 21:20:02,714 INFO sqlalchemy.engine.Engine [no key 0.00114s] {}
2023-05-28 21:20:02,727 INFO sqlalchemy.engine.Engine
CREATE TABLE national (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(255),
	PRIMARY KEY (id)
)


2023-05-28 21:20:02,728 INFO sqlalchemy.engine.Engine [no key 0.00201s] {}
2023-05-28 21:20:02,746 INFO sqlalchemy.engine.Engine
CREATE TABLE seasons (
	id INTEGER NOT NULL AUTO_INCREMENT,
	start_date VARCHAR(255),
	end_date VARCHAR(255),
	PRIMARY KEY (id)
)


2023-05-28 21:20:02,748 INFO sqlalchemy.engine.Engine [no key 0.00179s] {}
2023-05-28 21:20:02,774 INFO sqlalchemy.engine.Engine
CREATE TABLE players (
	id VARCHAR(255) NOT NULL,
	name VARCHAR(255),
	birth_date VARCHAR(255),
	age INTEGER,
	height FLOAT,
	current_club_id VARCHAR(255),
	club_joined VARCHAR(255),
	contract_expires VARCHAR(255),
	birth_place VARCHAR(255),
	citizenship VARCHAR(255),
	position VARCHAR(255),
	national_id INTEGER,
	current_value FLOAT,
	agent VARCHAR(255),
	foot VARCHAR(255),
	PRIMARY KEY (id),
	FOREIGN KEY(current_club_id) REFERENCES clubs (id),
	FOREIGN KEY(national_id) REFERENCES national (id)
)


2023-05-28 21:20:02,775 INFO sqlalchemy.engine.Engine [no key 0.00106s] {}
2023-05-28 21:20:02,801 INFO sqlalchemy.engine.Engine
CREATE TABLE competitions (
	id INTEGER NOT NULL AUTO_INCREMENT,
	country_id INTEGER NOT NULL,
	name VARCHAR(255),
	teams_number INTEGER,
	market_value FLOAT,
	avg_age FLOAT,
	players_number INTEGER,
	foreigners INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(country_id) REFERENCES national (id)
)


2023-05-28 21:20:02,802 INFO sqlalchemy.engine.Engine [no key 0.00167s] {}
2023-05-28 21:20:02,823 INFO sqlalchemy.engine.Engine
CREATE TABLE players_season (
	id INTEGER NOT NULL AUTO_INCREMENT,
	player_id VARCHAR(255) NOT NULL,
	season_id INTEGER NOT NULL,
	club_id VARCHAR(255) NOT NULL,
	squad INTEGER,
	appearance INTEGER,
	point_per_goal INTEGER,
	goals INTEGER,
	assits INTEGER,
	own_goals INTEGER,
	yellow_card INTEGER,
	second_yellow_card INTEGER,
	red_card INTEGER,
	penalty_goals INTEGER,
	goals_conceded INTEGER,
	clean_sheets INTEGER,
	minutes_per_goal INTEGER,
	minutes_played INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(player_id) REFERENCES players (id),
	FOREIGN KEY(season_id) REFERENCES seasons (id),
	FOREIGN KEY(club_id) REFERENCES clubs (id)
)


2023-05-28 21:20:02,824 INFO sqlalchemy.engine.Engine [no key 0.00144s] {}
2023-05-28 21:20:02,872 INFO sqlalchemy.engine.Engine
CREATE TABLE clubs_season (
	id INTEGER NOT NULL AUTO_INCREMENT,
	club_id VARCHAR(255) NOT NULL,
	season_id INTEGER NOT NULL,
	competition_id INTEGER NOT NULL,
	`rank` INTEGER,
	matches INTEGER,
	win INTEGER,
	draw INTEGER,
	loss INTEGER,
	goals_scored INTEGER,
	goals_conceded INTEGER,
	players_avg_age FLOAT,
	PRIMARY KEY (id),
	FOREIGN KEY(club_id) REFERENCES clubs (id),
	FOREIGN KEY(season_id) REFERENCES seasons (id),
	FOREIGN KEY(competition_id) REFERENCES competitions (id)
)


2023-05-28 21:20:02,874 INFO sqlalchemy.engine.Engine [no key 0.00217s] {}
2023-05-28 21:20:02,911 INFO sqlalchemy.engine.Engine
CREATE TABLE transfers (
	id INTEGER NOT NULL AUTO_INCREMENT,
	player_id VARCHAR(255) NOT NULL,
	origin_club_id VARCHAR(255) NOT NULL,
	destination_club_id VARCHAR(255) NOT NULL,
	season_id INTEGER NOT NULL,
	market_value FLOAT,
	fee FLOAT,
	PRIMARY KEY (id),
	FOREIGN KEY(player_id) REFERENCES players (id),
	FOREIGN KEY(origin_club_id) REFERENCES clubs (id),
	FOREIGN KEY(destination_club_id) REFERENCES clubs (id),
	FOREIGN KEY(season_id) REFERENCES seasons (id)
)


2023-05-28 21:20:02,912 INFO sqlalchemy.engine.Engine [no key 0.00111s] {}
2023-05-28 21:20:02,943 INFO sqlalchemy.engine.Engine COMMIT
2023-05-28 21:20:02,946 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 21:20:02,947 INFO sqlalchemy.engine.Engine SHOW TABLES
2023-05-28 21:20:02,948 INFO sqlalchemy.engine.Engine [generated in 0.00233s] {}
2023-05-28 21:20:02,953 INFO sqlalchemy.engine.Engine ROLLBACK

In [235]:
session = Session(engine)
excel_file = pd.ExcelFile("Fake_data4.xlsx")
dfs = {}

In [236]:
for sheet_name in excel_file.sheet_names:
    # Read data from the current worksheet into a DataFrame
    df = excel_file.parse(sheet_name)
    df.replace({np.nan: None}, inplace=True)
    if sheet_name == 'national':
        for index, row in df.iterrows(): 
            my_row = national(id=row['id'],name=row['name'])
            session.add(my_row)
            session.commit()

2023-05-28 21:20:08,646 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 21:20:08,649 INFO sqlalchemy.engine.Engine INSERT INTO national (id, name) VALUES (%(id)s, %(name)s)
2023-05-28 21:20:08,649 INFO sqlalchemy.engine.Engine [generated in 0.00137s] {'id': 1, 'name': None}
2023-05-28 21:20:08,652 INFO sqlalchemy.engine.Engine COMMIT
2023-05-28 21:20:08,700 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 21:20:08,703 INFO sqlalchemy.engine.Engine INSERT INTO national (id, name) VALUES (%(id)s, %(name)s)
2023-05-28 21:20:08,704 INFO sqlalchemy.engine.Engine [cached since 0.0556s ago] {'id': 2, 'name': None}
2023-05-28 21:20:08,706 INFO sqlalchemy.engine.Engine COMMIT
2023-05-28 21:20:08,709 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 21:20:08,711 INFO sqlalchemy.engine.Engine INSERT INTO national (id, name) VALUES (%(id)s, %(name)s)
2023-05-28 21:20:08,711 INFO sqlalchemy.engine.Engine [cached since 0.06356s ago] {'id': 3, 'name': None}
2023-05-28 21:20:08,714 INFO sqlalchemy.engine.Engine COMMIT

In [237]:
for sheet_name in excel_file.sheet_names:
    df = excel_file.parse(sheet_name)
    df.replace({np.nan: None}, inplace=True)
    if sheet_name =='competitions':
        for index, row in df.iterrows(): 
            my_row = competitions(id=row['id'],name=row['name'],teams_number=row['teams_number']
                                  ,market_value=row['market_value'],players_number=row['players_number']
                                  ,avg_age=row['avg_age'],foreigners=row['foreigners'],country_id=row['country_id'])
            session.add(my_row)
    session.commit()

2023-05-28 21:20:11,622 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 21:20:11,625 INFO sqlalchemy.engine.Engine INSERT INTO competitions (id, country_id, name, teams_number, market_value, avg_age, players_number, foreigners) VALUES (%(id)s, %(country_id)s, %(name)s, %(teams_number)s, %(market_value)s, %(avg_age)s, %(players_number)s, %(foreigners)s)
2023-05-28 21:20:11,626 INFO sqlalchemy.engine.Engine [generated in 0.00148s] [{'id': 1, 'country_id': 1, 'name': 'league 1', 'teams_number': 20, 'market_value': 9830000, 'avg_age': 24, 'players_number': None, 'foreigners': 200}, {'id': 2, 'country_id': 2, 'name': 'league 2', 'teams_number': 16, 'market_value': 541645, 'avg_age': 29, 'players_number': 520.0, 'foreigners': 100}, {'id': 3, 'country_id': 3, 'name': 'league 3', 'teams_number': 18, 'market_value': 4548456, 'avg_age': 28, 'players_number': 960.0, 'foreigners': 153}]
2023-05-28 21:20:11,631 INFO sqlalchemy.engine.Engine COMMIT

In [238]:
for sheet_name in excel_file.sheet_names:
    df = excel_file.parse(sheet_name)
    df.replace({np.nan: None}, inplace=True)
    if sheet_name =='seasons':
        for index, row in df.iterrows():
            my_row = seasons(id=int(row['id']),start_date=str(row['start_date']),end_date=str(row['end_date']))
            session.add(my_row)
    session.commit()

2023-05-28 21:20:13,858 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 21:20:13,860 INFO sqlalchemy.engine.Engine INSERT INTO seasons (id, start_date, end_date) VALUES (%(id)s, %(start_date)s, %(end_date)s)
2023-05-28 21:20:13,860 INFO sqlalchemy.engine.Engine [generated in 0.00123s] [{'id': 1, 'start_date': '2016', 'end_date': '2017'}, {'id': 2, 'start_date': '2017', 'end_date': '2018'}, {'id': 3, 'start_date': '2018', 'end_date': '2019'}, {'id': 4, 'start_date': '2019', 'end_date': '2020'}]
2023-05-28 21:20:13,871 INFO sqlalchemy.engine.Engine COMMIT

In [239]:
for sheet_name in excel_file.sheet_names:
    df = excel_file.parse(sheet_name)
    df.replace({np.nan: None}, inplace=True)
    if sheet_name =='clubs':
        for index, row in df.iterrows():
            my_row = clubs(id=row['id'],name=row['name'],country_id=row['country_id'],foundation_date=row['foundation_date'],
                   value=row['value'],stadium=row['stadium'],squad_size=row['squad_size'],average_age=row['average_age'],
                   current_transfer_record=row['current_transfer_record'],national_players=row['national_players'],
                   foreigners=row['foreigners'])
            session.add(my_row)
    session.commit()

2023-05-28 21:20:15,845 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 21:20:15,847 INFO sqlalchemy.engine.Engine INSERT INTO clubs (id, name, country_id, foundation_date, value, stadium, squad_size, average_age, current_transfer_record, national_players, foreigners) VALUES (%(id)s, %(name)s, %(country_id)s, %(foundation_date)s, %(value)s, %(stadium)s, %(squad_size)s, %(average_age)s, %(current_transfer_record)s, %(national_players)s, %(foreigners)s)
2023-05-28 21:20:15,848 INFO sqlalchemy.engine.Engine [generated in 0.00121s] [{'id': 1, 'name': 'club1', 'country_id': 1, 'foundation_date': 'Aug 12, 1970', 'value': 211000, 'stadium': 'stadium 1', 'squad_size': 21, 'average_age': 27.1, 'current_transfer_record': 88000000, 'national_players': 10, 'foreigners': 10}, {'id': 2, 'name': 'club2', 'country_id': 1, 'foundation_date': 'Aug 1, 1990', 'value': 102555, 'stadium': 'stadium 1', 'squad_size': 25, 'average_age': 29.4, 'current_transfer_record': 97025000, 'national_players': 2, 'foreigners': 3}, {'id': 3, 'name': 'club3', 'country_id': 3, 'foundation_date': 'Aug 12, 1982', 'value': 877000, 'stadium': 'stadium 2', 'squad_size': 26, 'average_age': 32.0, 'current_transfer_record': 9810100, 'national_players': 11, 'foreigners': 5}, {'id': 4, 'name': 'club4', 'country_id': 2, 'foundation_date': 'May 17, 1937', 'value': 96100, 'stadium': 'stadium 2', 'squad_size': 21, 'average_age': 24.9, 'current_transfer_record': 1400000, 'national_players': 9, 'foreigners': 9}]
2023-05-28 21:20:15,853 INFO sqlalchemy.engine.Engine COMMIT

In [240]:
for sheet_name in excel_file.sheet_names:
    df = excel_file.parse(sheet_name)
    df.replace({np.nan: None}, inplace=True)
    if sheet_name == 'players':
        for index, row in df.iterrows(): 
            my_row = players(id=int(row['id']),name=row['name'],current_club_id=int(row['current_club_id']),
                    birth_date=row['birth_date'],age=row['age'],height=row['height'],
                    club_joined=row['club_joined'], citizenship=row['citizenship'], birth_place=row['birth_place'],
                    contract_expires=row['contract_expires'],position=row['position'],foot=row['foot'],
                    agent=row['agent'],current_value=row['current_value'],national_id=int(row['national_id']))
            session.add(my_row)
    session.commit()

2023-05-28 21:20:18,190 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 21:20:18,195 INFO sqlalchemy.engine.Engine INSERT INTO players (id, name, birth_date, age, height, current_club_id, club_joined, contract_expires, birth_place, citizenship, position, national_id, current_value, agent, foot) VALUES (%(id)s, %(name)s, %(birth_date)s, %(age)s, %(height)s, %(current_club_id)s, %(club_joined)s, %(contract_expires)s, %(birth_place)s, %(citizenship)s, %(position)s, %(national_id)s, %(current_value)s, %(agent)s, %(foot)s)
2023-05-28 21:20:18,196 INFO sqlalchemy.engine.Engine [generated in 0.00244s] [{'id': 1, 'name': 'ENYEY', 'birth_date': 1, 'age': 23, 'height': 168, 'current_club_id': 1, 'club_joined': 1, 'contract_expires': 1, 'birth_place': 1, 'citizenship': 1, 'position': 'Goalkeeper', 'national_id': 1, 'current_value': 82032, 'agent': 'TABMC', 'foot': 'left'}, {'id': 2, 'name': 'LIRGC', 'birth_date': 1, 'age': 25, 'height': 181, 'current_club_id': 1, 'club_joined': 1, 'contract_expires': 1, 'birth_place': 1, 'citizenship': 1, 'position': 'Centre-Back', 'national_id': 2, 'current_value': 62513, 'agent': 'ZTUHS', 'foot': 'right'}, {'id': 3, 'name': 'EMKFJ', 'birth_date': 1, 'age': 35, 'height': 182, 'current_club_id': 1, 'club_joined': 1, 'contract_expires': 1, 'birth_place': 1, 'citizenship': 1, 'position': 'Centre-Back', 'national_id': 3, 'current_value': 85781, 'agent': 'PUOSV', 'foot': 'right '}, {'id': 4, 'name': 'MWEPR', 'birth_date': 1, 'age': 32, 'height': 186, 'current_club_id': 1, 'club_joined': 1, 'contract_expires': 1, 'birth_place': 1, 'citizenship': 1, 'position': 'Centre-Back', 'national_id': 2, 'current_value': 30613, 'agent': 'XGCLR', 'foot': 'left'}, {'id': 5, 'name': 'ZQAFL', 'birth_date': 1, 'age': 33, 'height': 182, 'current_club_id': 1, 'club_joined': 1, 'contract_expires': 1, 'birth_place': 1, 'citizenship': 1, 'position': 'Centre-Forward', 'national_id': 2, 'current_value': 94374, 'agent': 'XCLMV', 'foot': 'left'}, {'id': 6, 'name': 'FYKCP', 'birth_date': 1, 'age': 20, 'height': 188, 'current_club_id': 1, 'club_joined': 1, 'contract_expires': 1, 'birth_place': 1, 'citizenship': 1, 'position': 'Centre-Forward', 'national_id': 2, 'current_value': 96209, 'agent': 'LWXID', 'foot': 'right'}, {'id': 7, 'name': 'XFEQR', 'birth_date': 1, 'age': 33, 'height': 166, 'current_club_id': 1, 'club_joined': 1, 'contract_expires': 1, 'birth_place': 1, 'citizenship': 1, 'position': 'Centre-Forward', 'national_id': 1, 'current_value': 60889, 'agent': 'OSUOE', 'foot': 'right '}, {'id': 8, 'name': 'THWNW', 'birth_date': 2, 'age': 20, 'height': 167, 'current_club_id': 2, 'club_joined': 2, 'contract_expires': 2, 'birth_place': 2, 'citizenship': 2, 'position': 'Goalkeeper', 'national_id': 1, 'current_value': 24514, 'agent': 'WJAXO', 'foot': 'left'}  ... displaying 10 of 21 total bound parameter sets ...  {'id': 20, 'name': 'BZMZU', 'birth_date': 3, 'age': 28, 'height': 181, 'current_club_id': 3, 'club_joined': 3, 'contract_expires': 3, 'birth_place': 3, 'citizenship': 3, 'position': 'Centre-Forward', 'national_id': 2, 'current_value': 72105, 'agent': 'FJNIU', 'foot': 'left'}, {'id': 21, 'name': 'FHDTY', 'birth_date': 3, 'age': 29, 'height': 186, 'current_club_id': 3, 'club_joined': 3, 'contract_expires': 3, 'birth_place': 3, 'citizenship': 3, 'position': 'Centre-Forward', 'national_id': 1, 'current_value': 81747, 'agent': 'OCGMZ', 'foot': 'left'}]
2023-05-28 21:20:18,224 INFO sqlalchemy.engine.Engine COMMIT

In [241]:
for sheet_name in excel_file.sheet_names:
    df = excel_file.parse(sheet_name)
    df.replace({np.nan: None}, inplace=True)
    if sheet_name =='teams_season':
        for index, row in df.iterrows(): 
            my_row = clubs_season(id=row['id'],club_id=int(row['club_id']),season_id=row['season_id'],
                                  competition_id=row['competition_id'],rank=row['rank'],
                                  matches=row['matches'],win=row['win'],draw=row['draw'],
                                  loss=row['loss'],goals_conceded=row['goals_conceded'],
                                  players_avg_age=row['players_avg_age'])
            session.add(my_row)
    session.commit()

2023-05-28 21:20:20,349 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 21:20:20,352 INFO sqlalchemy.engine.Engine INSERT INTO clubs_season (id, club_id, season_id, competition_id, `rank`, matches, win, draw, loss, goals_scored, goals_conceded, players_avg_age) VALUES (%(id)s, %(club_id)s, %(season_id)s, %(competition_id)s, %(rank)s, %(matches)s, %(win)s, %(draw)s, %(loss)s, %(goals_scored)s, %(goals_conceded)s, %(players_avg_age)s)
2023-05-28 21:20:20,354 INFO sqlalchemy.engine.Engine [generated in 0.00184s] [{'id': 1.0, 'club_id': 1, 'season_id': 1.0, 'competition_id': 1.0, 'rank': 14.0, 'matches': 24.0, 'win': 19.0, 'draw': 0.0, 'loss': 20.0, 'goals_scored': None, 'goals_conceded': 38.0, 'players_avg_age': 26.43}, {'id': 2.0, 'club_id': 2, 'season_id': 1.0, 'competition_id': 2.0, 'rank': 18.0, 'matches': 24.0, 'win': 11.0, 'draw': 7.0, 'loss': 13.0, 'goals_scored': None, 'goals_conceded': 17.0, 'players_avg_age': 27.86}, {'id': 3.0, 'club_id': 3, 'season_id': 1.0, 'competition_id': 3.0, 'rank': 1.0, 'matches': 24.0, 'win': 6.0, 'draw': 9.0, 'loss': 2.0, 'goals_scored': None, 'goals_conceded': 33.0, 'players_avg_age': 25.71}, {'id': 4.0, 'club_id': 1, 'season_id': 2.0, 'competition_id': 2.0, 'rank': 4.0, 'matches': 24.0, 'win': 3.0, 'draw': 2.0, 'loss': 1.0, 'goals_scored': None, 'goals_conceded': 35.0, 'players_avg_age': 25.8}, {'id': 5.0, 'club_id': 2, 'season_id': 2.0, 'competition_id': 2.0, 'rank': 6.0, 'matches': 24.0, 'win': 7.0, 'draw': 11.0, 'loss': 8.0, 'goals_scored': None, 'goals_conceded': 22.0, 'players_avg_age': 28.5}, {'id': 6.0, 'club_id': 3, 'season_id': 2.0, 'competition_id': 1.0, 'rank': 9.0, 'matches': 24.0, 'win': 10.0, 'draw': 18.0, 'loss': 13.0, 'goals_scored': None, 'goals_conceded': 34.0, 'players_avg_age': 25.71}]
2023-05-28 21:20:20,363 INFO sqlalchemy.engine.Engine COMMIT

In [242]:
for sheet_name in excel_file.sheet_names:
    df = excel_file.parse(sheet_name)
    df.replace({np.nan: None}, inplace=True)
    if sheet_name == 'players_season':
        for index, row in df.iterrows():
            my_row = players_season(id=row['id'],player_id=int(row['player_id']),season_id=row['season_id'],
                                    club_id=int(row['club_id']),squad=row['squad'],appearance=row['appearance'],
                                    point_per_goal = row['point_per_goal'],goals=row['goals'],assits=row['assits'],
                                    own_goals=row['own_goals'],yellow_card=row['yellow_card'],
                                    second_yellow_card=row['second_yellow_card'],red_card=row['red_card'],
                                    penalty_goals=row['penalty_goals'],goals_conceded=row['goals_conceded'],
                                    clean_sheets=row['clean_sheets'],minutes_per_goal=row['minutes_per_goal'],
                                    minutes_played=row['minutes_played'])
            session.add(my_row)
    session.commit()

2023-05-28 21:20:23,556 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 21:20:23,566 INFO sqlalchemy.engine.Engine INSERT INTO players_season (id, player_id, season_id, club_id, squad, appearance, point_per_goal, goals, assits, own_goals, yellow_card, second_yellow_card, red_card, penalty_goals, goals_conceded, clean_sheets, minutes_per_goal, minutes_played) VALUES (%(id)s, %(player_id)s, %(season_id)s, %(club_id)s, %(squad)s, %(appearance)s, %(point_per_goal)s, %(goals)s, %(assits)s, %(own_goals)s, %(yellow_card)s, %(second_yellow_card)s, %(red_card)s, %(penalty_goals)s, %(goals_conceded)s, %(clean_sheets)s, %(minutes_per_goal)s, %(minutes_played)s)
2023-05-28 21:20:23,568 INFO sqlalchemy.engine.Engine [generated in 0.00266s] [{'id': 1.0, 'player_id': 11, 'season_id': 1.0, 'club_id': 1, 'squad': 24.0, 'appearance': 20.0, 'point_per_goal': 1.1864442832634021, 'goals': 2.0, 'assits': 0.0, 'own_goals': 12.0, 'yellow_card': 0.0, 'second_yellow_card': 1.0, 'red_card': 1.0, 'penalty_goals': 6.0, 'goals_conceded': 14.0, 'clean_sheets': 10.0, 'minutes_per_goal': 1181.0, 'minutes_played': 1078.0}, {'id': 2.0, 'player_id': 9, 'season_id': 1.0, 'club_id': 1, 'squad': 24.0, 'appearance': 18.0, 'point_per_goal': 2.934382028639974, 'goals': 15.0, 'assits': 3.0, 'own_goals': 27.0, 'yellow_card': 4.0, 'second_yellow_card': 4.0, 'red_card': 3.0, 'penalty_goals': 12.0, 'goals_conceded': 8.0, 'clean_sheets': 5.0, 'minutes_per_goal': 305.0, 'minutes_played': 137.0}, {'id': 3.0, 'player_id': 6, 'season_id': 1.0, 'club_id': 2, 'squad': 24.0, 'appearance': 21.0, 'point_per_goal': 1.3058513562655736, 'goals': 6.0, 'assits': 1.0, 'own_goals': 20.0, 'yellow_card': 3.0, 'second_yellow_card': 10.0, 'red_card': 1.0, 'penalty_goals': 15.0, 'goals_conceded': 13.0, 'clean_sheets': 14.0, 'minutes_per_goal': 1762.0, 'minutes_played': 1599.0}, {'id': 4.0, 'player_id': 2, 'season_id': 1.0, 'club_id': 1, 'squad': 24.0, 'appearance': 22.0, 'point_per_goal': 3.6292625135591927, 'goals': 7.0, 'assits': 2.0, 'own_goals': 14.0, 'yellow_card': 5.0, 'second_yellow_card': 15.0, 'red_card': 2.0, 'penalty_goals': 9.0, 'goals_conceded': 15.0, 'clean_sheets': 13.0, 'minutes_per_goal': 1386.0, 'minutes_played': 1159.0}, {'id': 5.0, 'player_id': 7, 'season_id': 1.0, 'club_id': 1, 'squad': 24.0, 'appearance': 22.0, 'point_per_goal': 3.66476007271292, 'goals': 23.0, 'assits': 1.0, 'own_goals': 5.0, 'yellow_card': 3.0, 'second_yellow_card': 5.0, 'red_card': 1.0, 'penalty_goals': 15.0, 'goals_conceded': 7.0, 'clean_sheets': 7.0, 'minutes_per_goal': 759.0, 'minutes_played': 555.0}, {'id': 6.0, 'player_id': 13, 'season_id': 1.0, 'club_id': 1, 'squad': 24.0, 'appearance': 19.0, 'point_per_goal': 0.03098420739481611, 'goals': 30.0, 'assits': 6.0, 'own_goals': 17.0, 'yellow_card': 6.0, 'second_yellow_card': 10.0, 'red_card': 2.0, 'penalty_goals': 9.0, 'goals_conceded': 14.0, 'clean_sheets': 6.0, 'minutes_per_goal': 615.0, 'minutes_played': 494.0}, {'id': 7.0, 'player_id': 7, 'season_id': 1.0, 'club_id': 1, 'squad': 24.0, 'appearance': 21.0, 'point_per_goal': 2.2591343540417923, 'goals': 35.0, 'assits': 8.0, 'own_goals': 16.0, 'yellow_card': 0.0, 'second_yellow_card': 0.0, 'red_card': 2.0, 'penalty_goals': 15.0, 'goals_conceded': 14.0, 'clean_sheets': 15.0, 'minutes_per_goal': 1282.0, 'minutes_played': 1146.0}, {'id': 8.0, 'player_id': 20, 'season_id': 1.0, 'club_id': 2, 'squad': 24.0, 'appearance': 19.0, 'point_per_goal': 2.7421654999928053, 'goals': 1.0, 'assits': 1.0, 'own_goals': 14.0, 'yellow_card': 2.0, 'second_yellow_card': 0.0, 'red_card': 1.0, 'penalty_goals': 13.0, 'goals_conceded': 7.0, 'clean_sheets': 14.0, 'minutes_per_goal': 791.0, 'minutes_played': 622.0}  ... displaying 10 of 42 total bound parameter sets ...  {'id': 41.0, 'player_id': 10, 'season_id': 2.0, 'club_id': 3, 'squad': 24.0, 'appearance': 22.0, 'point_per_goal': 2.066994480810534, 'goals': 29.0, 'assits': 2.0, 'own_goals': 5.0, 'yellow_card': 3.0, 'second_yellow_card': 10.0, 'red_card': 1.0, 'penalty_goals': 12.0, 'goals_conceded': 12.0, 'clean_sheets': 15.0, 'minutes_per_goal': 455.0, 'minutes_played': 296.0}, {'id': 42.0, 'player_id': 6, 'season_id': 2.0, 'club_id': 3, 'squad': 24.0, 'appearance': 21.0, 'point_per_goal': 2.247693570098871, 'goals': 29.0, 'assits': 0.0, 'own_goals': 24.0, 'yellow_card': 5.0, 'second_yellow_card': 5.0, 'red_card': 2.0, 'penalty_goals': 15.0, 'goals_conceded': 9.0, 'clean_sheets': 12.0, 'minutes_per_goal': 1006.0, 'minutes_played': 896.0}]
2023-05-28 21:20:23,608 INFO sqlalchemy.engine.Engine COMMIT

In [243]:
for sheet_name in excel_file.sheet_names:
    df = excel_file.parse(sheet_name)
    df.replace({np.nan: None}, inplace=True)
    if sheet_name == 'transfers':
        for index, row in df.iterrows(): 
            my_row = transfers(id=int(row['id']),player_id=int(row['player_id']),
                             origin_club_id=int(row['origin_club_id']),destination_club_id=int(row['destination_club_id']),
                             season_id=int(row['season_id']),market_value=float(row['market_value']),
                             fee=float(row['fee']))
            session.add(my_row)
    session.commit()

2023-05-28 21:20:25,170 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 21:20:25,174 INFO sqlalchemy.engine.Engine INSERT INTO transfers (id, player_id, origin_club_id, destination_club_id, season_id, market_value, fee) VALUES (%(id)s, %(player_id)s, %(origin_club_id)s, %(destination_club_id)s, %(season_id)s, %(market_value)s, %(fee)s)
2023-05-28 21:20:25,182 INFO sqlalchemy.engine.Engine [generated in 0.00825s] [{'id': 1, 'player_id': 2, 'origin_club_id': 1, 'destination_club_id': 3, 'season_id': 1, 'market_value': 50000.0, 'fee': 23000.0}, {'id': 2, 'player_id': 9, 'origin_club_id': 2, 'destination_club_id': 1, 'season_id': 1, 'market_value': 77000.0, 'fee': 23000.0}, {'id': 3, 'player_id': 18, 'origin_club_id': 3, 'destination_club_id': 2, 'season_id': 1, 'market_value': 35000.0, 'fee': 87000.0}]
2023-05-28 21:20:25,202 INFO sqlalchemy.engine.Engine COMMIT